@import "./variables";
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";


.bg-pink{
    background-color: #f7c4e3;
}

.bg-mauve{
    background-color: #884ca8;
    opacity: 70%;
}

.text-pink{
    color: #f7c4e3;
}

.text-mauve{
    color: #884ca8;
}

.chiant{
    height: 40vh;
    width: 45%;
    opacity: 85%;
}

#calculator{
    border-radius: 10%;
}

.number ,.operator,.clear,.egal{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: none;
}
.number{
    background-color: white;
}



.calculator{
    width: 17vw;
    padding: 1%;
    border-radius: 2%;
}
