@import "./variables";
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";


.bg-pink{
    background-color: #f7c4e3;
}

.text-pink{
    color: #f7c4e3;
}

.text-mauve{
    color: #884ca8;
}

.chiant{
    height: 40vh;
    width: 45%;
    opacity: 85%;
}

